{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block body %}
    <div class="panel panel-frames">
        <div class="panel-margin">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12" style="text-align: center; margin-bottom: 10px;">
                    <h2>Профиль</h2>
                </div>
            </div>

            <div class="row" style="margin-bottom: 10px;">
                <div class="col-xs-12 col-md-4 col-lg-4" style="text-align: center;">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12" style="margin-bottom: 10px;">
                            {% if not data.photo %}
                                <img src="{{ url_for('static', filename='images/user.png') }}" alt="фото" height="200"
                                     class="img-max-width">
                            {% else %}
                                <img src="{{ url_for('static', filename='images/user_img/{}.{}'.format(data.photo[0].id, data.photo[0].type_file) ) }}"
                                     alt="фото" height="150" class="img-max-width">
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-12 {% if data.photo %}col-md-6 col-lg-6{% else %}col-md-12 col-lg-12{% endif %}">
                                <form id="updatePhotoForm">
                                    <input type="file" id="photo" name="photo" style="width: 100%;"
                                       accept="{% for type in data.accept %}.{{ type }}, {% endfor %}"
                                    onChange="updatePhoto(this)">
                                </form>
                                </div>
                                {% if data.photo %}
                                    <div class="col-xs-12 col-md-6 col-lg-6">
                                        <button type="button" class="btn btn-danger" onClick="deletePhoto()">Удалить</button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-xs-12 col-md-8 col-lg-8">
                    <div class="row">
                    <div class="alert alert-danger col-md-12 col-sm-12 col-xs-12" role="alert" style="display: none;"
                         id="profileMessage">
                    </div>
                    <form id="profileForm">
                        <div class="col-xs-12 col-md-6 col-lg-6 row">
                            <label for="login" class="col-xs-12 col-md-12 col-lg-12">
                                Логин <span class="required">*</span>
                            </label>
                            <div class="col-xs-12 col-md-12 col-lg-12">
                                <input type="text" class="form-control" id="login" name="login" required
                                       minlength="3" {% if data.user %}value="{{ data.user[0].login }}"{% endif %}>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6 row">
                            <label for="email" class="col-xs-12 col-md-12 col-lg-12">
                                Почта <span class="required">*</span>
                            </label>
                            <div class="col-xs-12 col-md-12 col-lg-12">
                                <input type="email" class="form-control" id="email" name="email" required
                                       {% if data.user %}value="{{ data.user[0].email }}"{% endif %}>
                            </div>
                        </div>
                    </form>

                        <div class="col-xs-12 col-md-12 col-lg-12 row" >
                            <div class="col-xs-12 col-md-12 col-lg-12">
                                <button class="btn btn-success" type="button" id="saveRecipeBtn" onClick="saveProfile()">
                                    Сохранить
                                </button>
                                <button class="btn btn-info" data-target="#mChangePassword" data-toggle="modal"
                                        type="button">
                                    Изменить пароль
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="mChangePassword" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Вы уверены, что хотите удалить фото?</h4>
                    <button type="button" class="close change-password-btn" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal" id="changePasswordForm" style="margin-left: 10px;">
                        <div class="row">
                            <div class="alert alert-danger col-md-12 col-sm-12 col-xs-12" role="alert"
                                 style="display: none;"
                                 id="changePasswordMessage">
                            </div>

                            <div class="form-group col-md-12 col-sm-12 col-xs-12">

                                <label for="old_password">Старый пароль <span class="required">*</span></label>
                                <input id="old_password" class="form-control" name="old_password"
                                       required type="password">
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">

                                <label for="password">Новый пароль <span class="required">*</span></label>
                                <input id="password" class="form-control" name="password"
                                       required type="password" minlength="6" onChange="checkPassword()">
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">

                                <label for="password2">Повторите новый пароль <span class="required">*</span></label>
                                <input id="password2" class="form-control" name="password2" onChange="checkPassword()"
                                       required type="password" minlength="6">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" onClick="changePassword()" id="savePasswBtn"
                            class="btn btn-sm btn-success change-password-btn">Изменить
                    </button>
                    <button type="button" data-dismiss="modal"
                            class="btn btn-sm btn-danger change-password-btn">Отмена
                    </button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var fileSize = {{ data.max_file_size|int }};
    </script>
    <script src="{{ url_for('static', filename='js/user/profile.js') }}"></script>
{% endblock %}