{% extends "base.html" %}

{% block title %}Мои рецепты{% endblock %}

{% block body %}
<div class="panel panel-frames">
    <div class="panel-margin">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12" style="text-align: center; margin-bottom: 10px;">
                <h2>Мои рецепты</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12" style="margin-top: 10px;">
                <button class="btn btn-success" type="button"
                        onClick="window.location.replace('../recipes/recipe');">Добавить</button>
            </div>
        </div>
    </div>
</div>

    {% for recipe in data.recipes %}
    <div class="panel panel-frames">
    <div class="panel-margin">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12" style="text-align: center; margin-bottom: 10px;">
                <h2>{{ recipe.name }}</h2>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12" style="text-align: center; margin-bottom: 10px;">
                {% if not recipe.file_name %}
                    <img src="{{ url_for('static', filename='images/eda.jpg') }}" alt="фото" width="150" height="150"
                         class="img-max-width">
                {% else %}
                    <img src="{{ url_for('static', filename='images/recipe_img/{}/{}.{}'.format(recipe.user, recipe.file_name, recipe.type_file) ) }}"
                         alt="фото"  height="150" class="img-max-width">
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4" style="text-align: center; margin-bottom: 10px;">
                <b>Время готовки:</b> {{ recipe.cooking_time.strftime('%H:%M') }}
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4" style="text-align: center; margin-bottom: 10px;">
                <b>Сложность:</b> {{ recipe.complexity }}
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4" style="text-align: center; margin-bottom: 10px;">
                <b>Количество порций:</b> {{ recipe.number_of_servings }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12" style="margin-top: 10px;">
                <button class="btn btn-info" type="button"
                        onClick="window.location.replace('../recipes/show_recipe?id={{ recipe.id }}');">Посмотреть</button>
                <button class="btn btn-success" type="button"
                        onClick="window.location.replace('../recipes/recipe?id={{ recipe.id }}');">Редактировать</button>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{% endblock %}

{% block script %}
<script>
    $('.selectpicker').selectpicker({
        noneSelectedText : 'Выберите ингридиенты'
    });
</script>
<script src="{{ url_for('static', filename='js/recipes/search_for_recipes.js') }}"></script>
{% endblock %}