{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block body %}
<div class="panel panel-frames">
    <div class="panel-margin">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12" style="text-align: center; margin-bottom: 10px;">
                <h2>Не знаешь, что приготовить из имеющихся продуктов?</h2>
                <h3>Ищи <a href="../recipes/search_for_recipes">здесь</a>!</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}
